/*!
 *  build: 杭州数蛙科技有限公司 
 *  copyright: dgiot_dashboard 
 *  time: Thu Aug 12 2021 05:32:44 GMT+0000 (Coordinated Universal Time)
 */.monaco-editor .inputarea{min-width:0;min-height:0;margin:0;padding:0;position:absolute;outline:none!important;resize:none;border:none;overflow:hidden;color:transparent;background-color:transparent}.monaco-editor .inputarea.ime-input{z-index:10}