.inspection {
  min-height: 875px;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
}

.inspection .el-dropdown-link {
  cursor: pointer;
  /* color: #409EFF; */
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
}
table.test-result {
  width: 100%;
  text-align: center;

  tr {
    line-height: 28px;
  }
}

.inspection .el-select {
  width: 100%;
}

.inspection .el-date-editor.el-input {
  width: 100%;
}

.inspection .el-form--inline .el-date-editor.el-input {
  width: 100%;
}

.inspection .el-cascader {
  width: 100%;
}

.inspection .el-divider__text.is-left {
  color: blue;
  font-size: 16px;
}

a.report-link {
  color: #409eff;
}

a.report-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1350px) {
  .inspection .el-col {
    width: 100%;
  }
}

.inspection .el-dialog__body {
  padding: 10px 20px;
}
